@model KletterWetter.Models.TableStationData
@using DomainKw.Stations

@{
    ViewBag.Title = "Wetterdaten";
}
<h2>@ViewBag.Title</h2>

<div>
    @Html.Partial("_TdHeaderPartial")
</div>

<div>
    @Html.Action(MVC.WeatherData.TableDataGrid())
</div>





